@import './normalize.css';

body {
  height: 100vh;
  background-color: #1D1D1D;
}

.wrapper {
  width: 80%;
  padding: 5vh 0;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.images-box {
  width: 400%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  margin-bottom: 1%;
}

.image {
  width: 100%;
  height: auto;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signature-box {
  width: 20%;
  overflow: hidden;
}

.signature-box__wrapper {
  width: 400%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  align-items: center;
}

.signature-box__text {
  margin: 0;
  color: white;
}

.buttons-box {
  width: 20%;
  height: 1.5rem;
  display: flex;
  justify-content: end;
  align-self: flex-start;
  gap: 0.5rem;
}

.button {
  width: 10%;
  border-radius: 100%;
  background-color: white;
  box-sizing: border-box;
}

.button:hover {
  border: 0.1rem solid rgb(113, 240, 145);
  background-color: transparent;
  background-color: #828282;
}